{
  "presets": [
    ["@babel/preset-env", {
      "modules":"auto"
    }],
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime", {
        "corejs": false,
        "helpers": false,
        "regenerator": false,
        "useESModules": true
      }
    ]
  ]
}